:root {
    --transparent-white: rgba(255, 255, 255, 0.7);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    padding: 0;
    font-size: 12pt;
}

/* Header, Hero and Top Naviagion */

header {
    width: 100%;
    background-image: url(img/img-41.jpg);
    background-position: bottom center;
    background-size: cover;
    min-height: 600px;
    margin: 0;
    padding: 0;
    height: 100%;
}

#nav-header {
    position: fixed;
    text-align: left;
    top: 20px;
    width: 100%;
}

#nav-header a {
    font-weight: 600;
    font-size: 11pt;
    margin-left: 20px;
    text-decoration: none;
    color: var(--transparent-white);
}

header h1 {
    text-transform: uppercase;
    font-size: 60pt;
    margin-top: 0;
    padding-top: 140px;
}

#description {
    font-weight: 500;
    margin-top: 80px;
    font-size: 17pt;
    color: var(--transparent-white);
}

/* Main Content Area */

main {
    width: 50%;
    margin: auto;
}

main h2 {
    font-weight: 500;
    font-size: 23pt;
    margin-bottom: 40px;
}

main p {
    margin: 0;
}

.img-and-description {
    width: 50%;
    margin: 40px auto 40px auto;
}

.img-and-description img {
    width: 100%;
    margin-bottom: 15px;
}

.img-meta {
    margin: 0;
    text-transform: uppercase;
    color: var(--transparent-white);
}

main h3 {
    font-weight: 500;
    font-size: 16pt;
    margin: 25px 0 25px 0;
}

/* Footer Area */

footer {
    text-align: left;
    width: 100%;
    margin: 100px 20px 20px 0;
}

#nav-footer {
    margin-bottom: 20px;
}

#nav-footer a {
    font-weight: 600;
    font-size: 10pt;
    margin-left: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

#imprint a {
    font-weight: 600;
    font-size: 10pt;
    margin-left: 20px;
    text-decoration: none;
    color: var(--transparent-white);
}