:root {
    --main-gray: #D3D3D3;
    --main-border: 1px solid #D3D3D3;
    --main-white: #FCFCFC;
    --error-red: #800000;
    --main-text-color: #000;
    --main-font-weight: 400;
}

/* General Styles */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--main-text-color);
    font-family: "Nunito", sans-serif;
    font-weight: var(--main-font-weight);
    font-size: 1rem;
    background-color: var(--main-white);
}

a {
    text-decoration: none;
    color: var(--main-text-color);
}

img {
    width: 100%;
}

h2 {
    margin: 0;
    font-weight: var(--main-font-weight);
    font-size: 1.1875rem;
}

/* Header Area */

h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: var(--main-font-weight);
}

#main-nav a {
    margin-left: 2.25rem;
    font-size: 0.9375rem;
}

header {
    padding: 1.25rem;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--main-border);
    align-items: center;
}

/* Blog */

#blog-container {
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.25rem;
}

.entry-wrapper {
    padding: 1.75rem 0.625rem;
}

.desc {
    margin: 0;
}

.heading-blog-entry {
    margin-bottom: 1.125rem;
}

.img-wrapper img {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: block;
    overflow: hidden;
}

.blog-entry {
    border: var(--main-border);
    border-radius: 0.625rem;
}

/* About */

#about {
    width: 85%;
    margin: 1.25rem auto;
}

.about-flex-container {
    display: flex;
    align-items: center;
}

#heading-about {
    margin-bottom: 1.125rem;
}

#about img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 1.75rem;
}

/* Contact */

#contact {
    width: 85%;
    margin: 1.25rem auto;
}

#contact-me-button {
    font-family: "Nunito", sans-serif;
    font-weight: var(--main-font-weight);
    font-weight: var(--main-font-weight);
    font-size: 1rem;
    background-color: var(--main-white);
    border: 1px solid #808080;
    border-radius: 0.625rem;
}

/* Contact Form */

#contact-form {
    display: none;
    margin-top: 1.125rem;
}

input {
    width: 26%;
    display: block;
    border: 1px solid #808080;
    border-radius: 0.625rem;
    padding: 6px;
    margin-bottom: 0.5rem;
}

input::placeholder {
    color: #BABABA;
    font-size: 11px;
}

textarea {
    width: 26%;
    display: block;
    border: 1px solid #808080;
    border-radius: 0.625rem;
    padding: 6px;
    margin-bottom: 0.5rem;

}

[type="submit"] {
    background-color: var(--main-gray);
}

textarea::placeholder {
    color: #BABABA;
    font-size: 11px;
}

.error {
    color: var(--error-red);
    margin-bottom: 1.125rem;
}

input:invalid {
    border: 1px solid var(--error-red);
}

textarea:invalid {
    border: 1px solid var(--error-red);
}


/* Responsive */


@media screen and (max-width: 900px) {

    #blog-container {

        grid-template-columns: 1fr 1fr;

    }

}

@media screen and (max-width: 500px) {

    #blog-container {

        grid-template-columns: 1fr;

    }

}

